<html>

<head>
    <title>Restaurant Search</title>
</head>
<style>

</style>

<body>
    <!-- when clicked, goes back to the previous page, which is index.html -->
    <form action="/">
        <input type="submit" value="back" />
    </form>
    <div>
        <!-- the table of results -->
        <table bgcolor="white" border="2">
            <tr>
                <th>business_id</th>
                <th>name</th>
                <th>neighborhood</th>
                <th>address</th>
                <th>city</th>
                <th>state</th>
                <th>postal_code</th>
                <th>stars</th>
                <th>is_open</th>
                <th>categories</th>
                <th>monday</th>
                <th>tuesday</th>
                <th>wednesday</th>
                <th>thursday</th>
                <th>friday</th>
                <th>saturday</th>
                <th>sunday</th>
            </tr>
            <!-- this is the syntax from jinja, a flask data rendereing template -->
            <!-- get the result from response line by line -->
            {% for r in records%}
            <tr align="center">
                    <td>{{r['business_id']}}</td>
                    <td>{{r['name']}}</td>
                    <td>{{r['neighborhood']}}</td>
                    <td>{{r['address']}}</td>
                    <td>{{r['city']}}</td>
                    <td>{{r['state']}}</td>
                    <td>{{r['postal_code']}}</td>
                    <td>{{r['stars']}}</td>
                    <td>{{r['is_open']}}</td>
                    <td>{{r['categories']}}</td>
                    <td>{{r['monday']}}</td>
                    <td>{{r['tuesday']}}</td>
                    <td>{{r['wednesday']}}</td>
                    <td>{{r['thursday']}}</td>
                    <td>{{r['friday']}}</td>
                    <td>{{r['saturday']}}</td>
                    <td>{{r['sunday']}}</td>
                <!-- <td width="150">{{i}}</td> -->
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
</html>