<html>

<head>
  <title>yelp kinda</title>
</head>
<style>

</style>

<body>
  <form action="/search" method="get">
    <input id="search" name="search" type="text" placeholder="Search Box">
    <div class="dropdown">
      <select name="Preference">
        <option value="Italian">Italian</option>
        <option value="Bar">Bar</option>
        <option value="Chinese">Chinese</option>
        <option value="Mexican">Mexican</option>
        <option value="American">American</option>
        <option value="Japanese">Japanese</option>
        <option value="Breakfast">Breakfast</option>
        <option value="Fastfood">Fastfood</option>
      </select>
    </div>
    <button id="search_btn" type="button">search</button>

  </form>
  </table>
  <!-- direction -->
  <!-- <form action="/destination" method="get">
    <input id="start" name="start" type="text" name="start" placeholder="start">
    <input id="end" name="end" type="text" name="end" placeholder="end">
    <div class="dropdown">
      <select name="Preference">
        <option value="Italian">Italian</option>
        <option value="Bar">Bar</option>
        <option value="Chinese">Chinese</option>
        <option value="Mexican">Mexican</option>
        <option value="American">American</option>
        <option value="Japanese">Japanese</option>
        <option value="Breakfast">Breakfast</option>
        <option value="Fastfood">Fastfood</option>
      </select>
    </div>
    <button id="dest_btn" type="button">find</button> -->
  </form>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script>
  $(function () {
    $('#search_btn').click(function () {

      $.ajax({
        url: '/search',
        data: $('form').serialize(),
        type: 'get',
        success: function (response) {
          console.log(response);
          var text = $('form').serialize();
          window.location = '/search?'+text;
        },
        error: function (error) {
          console.log(error);
        }
      });
    });
    $('#dest_btn').click(function () {

      $.ajax({
        url: '/destination',
        data: $('form').serialize(),
        type: 'GET',
        success: function (response) {
          console.log(response);
        },
        error: function (error) {
          console.log(error);
        }
      });
    });
  });
</script>

</html>