<html>

<head>
  <title>Yelp Restaurant Search</title>
</head>
<style>

</style>

<body>
<!-- the first business question: get the restaurant in the city with the restaurant type the user entered  -->

  <form action="/search" method="get">
  <!-- the text box for city input -->
    <input id="search" name="search" type="text" placeholder="Search Box">

    <!-- the dropdown for restaurant preference, default to none if not selected -->    
    <div class="dropdown">
      <select name="Preference">
        <option value="Italian">Italian</option>
        <option value="Bar">Bar</option>
        <option value="Chinese">Chinese</option>
        <option value="Mexican">Mexican</option>
        <option value="American">American</option>
        <option value="Japanese">Japanese</option>
        <option value="Breakfast">Breakfast</option>
        <option value="Fastfood">Fastfood</option>
      </select>
    </div>

    <!-- the submit button for the first business question-->
    <button id="search_btn" type="button">search</button>

  </form>
  </table>
  <!-- direction -->
  <!-- the second business question: get the restaurant between the two cities with the restaurant type the user entered  -->

  <form action="/destination" method="get">
    <!-- the starting city  -->
    <input id="start" name="start" type="text" name="start" placeholder="start">
    <!-- the destination city  -->
    <input id="end" name="end" type="text" name="end" placeholder="end">

    <!-- the dropdown for restaurant preference, default to none if not selected -->
    <div class="dropdown">
      <select name="Preference">
        <option value="Italian">Italian</option>
        <option value="Bar">Bar</option>
        <option value="Chinese">Chinese</option>
        <option value="Mexican">Mexican</option>
        <option value="American">American</option>
        <option value="Japanese">Japanese</option>
        <option value="Breakfast">Breakfast</option>
        <option value="Fastfood">Fastfood</option>
      </select>
    </div>
    <!-- the submit button for the second business question-->
    <button id="dest_btn" type="button">find</button>
  </form>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script>
// when search_btn (the first business question form) is clicked, the request is sent to the /search route
  $(function () {
    $('#search_btn').click(function () {

      $.ajax({
        url: '/search',
        data: $('form').serialize(),
        type: 'get',
        success: function (response) {
          // if successful, print the response and redirect to the result page
          console.log(response);
          var text = $('form').serialize();
          window.location = '/search?' + text;
        },
        error: function (error) {
          console.log(error);
        }
      });
    });
    // when dest_btn (the second business question form) is clicked, the request is sent to the /search route
    $('#dest_btn').click(function () {

      $.ajax({
        url: '/destination',
        data: $('form').serialize(),
        type: 'get',
        success: function (response) {
          // if successful, print the response and redirect to the result page
          console.log(response);
          var text = $('form').serialize();
          window.location = '/destination?' + text;
        },
        error: function (error) {
          console.log(error);
        }
      });
    });
  });
</script>

</html>