<html>

<head>
  <title>Yelp Restaurant Search</title>
</head>
<style>

</style>

<body>

  <!-- in order to let the user insert their businesses and check that the databse do interacts with them -->
  <form action="/insert" method="get" name="insertForm">
    <!-- the text box for restuarant input -->
    <input id="restName" name="restName" type="text" placeholder="Insert Box">
    <!-- the text box for city input -->
    <input id="city" name="city" type="text" placeholder="city">
    <!-- the text box for state input -->
    <input id="state" name="state" type="text" placeholder="state">

    <!-- the dropdown for restaurant preference, default to none if not selected -->
    <div class="dropdown">
      <select name="Preference1">
        <option value="Italian">Italian</option>
        <option value="Bar">Bar</option>
        <option value="Chinese">Chinese</option>
        <option value="Mexican">Mexican</option>
        <option value="American">American</option>
        <option value="Japanese">Japanese</option>
        <option value="Breakfast">Breakfast</option>
        <option value="Fastfood">Fastfood</option>
      </select>
    </div>
    <!-- the dropdown for stars, in order for the search part to work for the newly entered data, the user can set the stars when they enter new data -->
    <div class="dropdown">
      <select name="star">
        <option value="1">1</option>
        <option value="2">1.5</option>
        <option value="2">2</option>
        <option value="2">2.5</option>
        <option value="2">3</option>
        <option value="2">3.5</option>
        <option value="3">4</option>
        <option value="4">4.5</option>
        <option value="3">5</option>
      </select>
    </div>
    <!-- the submit button for the inserting data -->
    <button id="insert_btn" type="button">insert</button>
  </form>

  <!-- the first business question: get the restaurant in the city with the restaurant type the user entered  -->
  <form action="/search" method="get" name="searchForm">
    <!-- the text box for city input -->
    <input id="search" name="search" type="text" placeholder="Search Box">
    <!-- the dropdown for restaurant preference, default to none if not selected -->
    <div class="dropdown">
      <select name="Preference2">
        <option value="Italian">Italian</option>
        <option value="Bar">Bar</option>
        <option value="Chinese">Chinese</option>
        <option value="Mexican">Mexican</option>
        <option value="American">American</option>
        <option value="Japanese">Japanese</option>
        <option value="Breakfast">Breakfast</option>
        <option value="Fastfood">Fastfood</option>
      </select>
    </div>

    <!-- filter that users might need for the quality of restuarants -->
    <div class="dropdown">
      <select name="stars">
        <option value="3">above 3</option>
        <option value="4">above 4</option>
      </select>
    </div>

    <!-- the submit button for the first business question-->
    <button id="search_btn" type="button">search</button>
  </form>
  </table>


  <!-- direction -->
  <!-- the second business question: get the restaurant between the two cities with the restaurant type the user entered  -->
  <form action="/destination" method="get" name="destForm">
    <!-- the starting city  -->
    <input id="start" name="start" type="text" name="start" placeholder="start">
    <!-- the destination city  -->
    <input id="end" name="end" type="text" name="end" placeholder="end">

    <!-- the dropdown for restaurant preference, default to none if not selected -->
    <div class="dropdown">
      <select name="Preference3">
        <option value="Italian">Italian</option>
        <option value="Bar">Bar</option>
        <option value="Chinese">Chinese</option>
        <option value="Mexican">Mexican</option>
        <option value="American">American</option>
        <option value="Japanese">Japanese</option>
        <option value="Breakfast">Breakfast</option>
        <option value="Fastfood">Fastfood</option>
      </select>
    </div>
    <!-- the submit button for the second business question-->
    <button id="dest_btn" type="button">find</button>
  </form>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script>

  // when insert_btn is clicked, the request is sent to the /insert route
  $(function () {

    $('#insert_btn').click(function () {
      var x = document.forms["insertForm"]["restName"].value;
      // validation that the user did put in the restaurant name that they wish to enter
      if (x == "") {
        alert("InsertBox must be filled out");
        return false;
      }

      $.ajax({
        url: '/insert',
        data: $('form').serialize(),
        type: 'get',
        success: function (response) {
          var text = $('form').serialize();
          alert("successful")
          // redirect to index.html
          window.location = '/';
        },
        error: function (error) {
          console.log(error);
        }
      });
    });

    // when search_btn (the first business question form) is clicked, the request is sent to the /search route
    $('#search_btn').click(function () {
      // validation that the search box is filled when the form is sent
      var x = document.forms["searchForm"]["search"].value;
      if (x == "") {
        alert("SearchBox must be filled out");
        return false;
      }

      $.ajax({
        url: '/search',
        data: $('form').serialize(),
        type: 'get',
        success: function (response) {
          // if successful, redirect to the result page
          var text = $('form').serialize();
          window.location = '/search?' + text;
        },
        error: function (error) {
          console.log(error);
          alert("No Data Found");
        }
      });
    });

    // when dest_btn (the second business question form) is clicked, the request is sent to the /destination route
    $('#dest_btn').click(function () {

      // validation that the both coty boxes are filled when the form is sent
      var x = document.forms["destForm"]["start"].value;
      var y = document.forms["destForm"]["end"].value;

      if (x == "") {
        alert("start box must be filled out");
        return false;
      } else if (y == "") {
        alert("destination box must be filled out");
        return false;
      }

      $.ajax({
        url: '/destination',
        data: $('form').serialize(),
        type: 'get',
        success: function (response) {
          // if successful, redirect to the result page
          var text = $('form').serialize();
          window.location = '/destination?' + text;
        },
        error: function (error) {
          console.log(error);
        }
      });
    });
  });
</script>

</html>