<html>

<head>
    <title>yelp kinda</title>
</head>
<style>

</style>

<body>
    <form action="/">
        <input type="submit" value="back" />
    </form>
    <div>
        <table bgcolor="white" border="2">
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Stars</th>
                <th>Review Count</th>
                <th>Business Hours</th>
            </tr>
            {% for i in range(0, lenrow) %}
            <tr align="center">
                {% for j in range(0, lencol) %}
                <td width="150">{{records1[i][j]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
</html>